<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net47" />
  <package id="Google.Protobuf.Tools" version="3.5.1" targetFramework="net47" />
  <package id="Hazelcast.Net" version="3.9.3" targetFramework="net47" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net47" />
  <package id="Nancy" version="1.4.4" targetFramework="net47" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Platform6.Client" version="0.0.1-alpha4" targetFramework="net47" />
</packages>